<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text product-more">
          <a href="./home.html"><i class="fa fa-home"></i> Home</a>
          <a href="./shop.html">Shop</a>
          <span>Shopping Cart</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cart-table">
          <table>
            <thead class="header-table">
              <tr>
                <th>Image</th>
                <th class="p-name">Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Color</th>
                <th>Size</th>
                <th>Total</th>
                <th><i class="ti-close"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of order.orderDetails">
                <td class="cart-pic">
                  <img src="{{ item.product.image }}" alt="" />
                </td>
                <td class="cart-title">
                  <h5>{{ item.product.name }}</h5>
                </td>
                <td class="p-price">{{ item.price }}</td>
                <td class="qua-col">
                  <!-- <div class="quantity">
                                      <div class="pro-qty">
                                          <input type="text" value="{{item.quatity}}">
                                      </div>
                                  </div> -->
                  <div class="change_quatity_product quantity">
                    <div class="change_quatity_item">
                      <div
                        (click)="preQuatity(item, item.quatity)"
                        class="change_quatity change_quatity_pre"
                      >
                        -
                      </div>
                      <div class="quatity_number">{{ item.quatity }}</div>
                      <div
                        (click)="upQuatity(item, item.quatity)"
                        class="change_quatity change_quatity_add"
                      >
                        +
                      </div>
                    </div>
                  </div>
                </td>
                <td class="item-color">{{ item.color.color }}</td>
                <td class="item-size">{{ item.size.size }}</td>
                <td class="total-price">{{ item.quatity * item.price }}</td>
                <td (click)="removeOrder(item)" class="close-td">
                  <i class="ti-close"></i>
                </td>
              </tr>
              <!-- <tr>
                              <td class="cart-pic"><img src="assets/img/cart-page/product-2.jpg" alt=""></td>
                              <td class="cart-title">
                                  <h5>American lobster</h5>
                              </td>
                              <td class="p-price">$60.00</td>
                              <td class="qua-col">
                                  <div class="quantity">
                                      <div class="pro-qty">
                                          <input type="text" value="1">
                                      </div>
                                  </div>
                              </td>
                              <td class="total-price">$60.00</td>
                              <td class="close-td"><i class="ti-close"></i></td>
                          </tr>
                          <tr>
                              <td class="cart-pic"><img src="assets/img/cart-page/product-3.jpg" alt=""></td>
                              <td class="cart-title">
                                  <h5>Guangzhou sweater</h5>
                              </td>
                              <td class="p-price">$60.00</td>
                              <td class="qua-col">
                                  <div class="quantity">
                                      <div class="pro-qty">
                                          <input type="text" value="1">
                                      </div>
                                  </div>
                              </td>
                              <td class="total-price">$60.00</td>
                              <td class="close-td"><i class="ti-close"></i></td>
                          </tr> -->
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="cart-buttons">
              <a (click)="switchShop()" class="primary-btn continue-shop"
                >Continue shopping</a
              >
            </div>
            <div class="discount-coupon">
              <h6>Discount Codes</h6>
              <form action="#" class="coupon-form">
                <input type="text" placeholder="Enter your codes" />
                <button type="submit" class="site-btn coupon-btn">Apply</button>
              </form>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-4">
            <div class="proceed-checkout">
              <ul>
                <li class="subtotal">Subtotal <span>${{order.total}}</span></li>
                <li class="cart-total">Total <span>${{order.total}}</span></li>
              </ul>
              <a (click)="switchCheckout()" class="proceed-btn">PROCEED TO CHECK OUT</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shopping Cart Section End -->
