 <!-- Content Header (Page header) -->
 <section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Manage Provider</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a>Home</a></li>
          <li class="breadcrumb-item active">Manage Provider</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
<div>
  <div class="from">
    <table class="edit-provider-body">
      <!-- <tr class="form-group">
        <th class="col-sm-4 col-form-label">Mã danh mục</th>
        <td class="col-sm-8">
          <input class="form-control" type="text" [(ngModel)]="provider.id" name="id" />
        </td>
      </tr> -->
      <tr>
        <th class="col-sm-4 col-form-label">Tên danh mục</th>
        <td class="col-sm-8">
          <input class="form-control" type="text" [(ngModel)]="provider.name" name="name" />
        </td>
      </tr>
      <tr>
        <th class="col-sm-4 col-form-label">Mô tả</th>
        <td class="col-sm-8">
          <textarea class="form-control"
            [(ngModel)]="provider.description"
            name="description"
          ></textarea
          ><br />
        </td>
      </tr>
      <tr class="form-group">
        <th class="col-sm-4 col-form-label">Logo </th>
        <td class="col-sm-8 custom-file">
          <input class="file-input"
            enctype="multipart/form-data"
            [(ngModel)]="provider.logo"
            (change)="selectedFile($event)"
            type="file"
            accept=".png,.jpg,.jpeg"
            id="image"
          />
          <!-- <label class="custom-file-label" for="image">Choose file</label> -->
        </td>
      </tr>
      <tr class="form-group">
        <th class="col-sm-4 col-form-label">Trạng thái</th>
        <td class="col-sm-8 form-check">
          <input  class="form-check-input" type="checkbox" [(ngModel)]="provider.status" name="status" />
          <label for="status" class="form-check-label">Hoạt động</label>
        </td>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <td>
          <button  class="btn btn-primary" (click)="add()">Thêm mới</button>
          <button  class="btn btn-primary btn-margin" (click)="update()">Lưu</button>
          <button  class="btn btn-primary btn-margin" (click)="initReset()">Reset</button>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <table class="list-provider" border="1" cellspacing="0" cellpadding="5">
      <tr>
        <th>STT</th>
        <!-- <th>Mã danh mục</th> -->
        <th>Tên danh mục</th>
        <th>Mô tả</th>
        <th>Logo</th>
        <th>Trạng thái</th>
        <th>Hành động</th>
      </tr>
      <tr *ngFor="let item of providers; let i = index">
        <td>{{ i + 1 }}</td>
        <!-- <td>{{ item.id }}</td> -->
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td><img class="provider-logo" src="{{ item.logo }}" alt="" /></td>
        <td>{{ item.status ? "Hoạt động" : "Không" }}</td>
        <td>
          <button class="btn btn-primary btn-update" (click)="initUpdate(item)">Sửa</button
          ><button class="btn btn-primary btn-margin" (click)="remove(item)">Xóa</button>
        </td>
      </tr>
    </table>
  </div>
</div>
