/* .product-details .pd-color .pd-color-choose .cc-item label {
	height: 20px;
	width: 20px;
	background: #252525;
	border-radius: 50%;
	cursor: pointer;
	margin-bottom: 0;
}

.product-details .pd-color .pd-color-choose .cc-item label.cc-yellow {
	background: #EEEE21;
}

.product-details .pd-color .pd-color-choose .cc-item label.cc-violet {
	background: #8230E3;
}
 */
 .change_quatity_product {
  display: flex;
  line-height:  44px;
  width: 80px;
}


.change_quatity_item {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  /* margin-left: 12px; */
}

.change_quatity {
  background-color: #ccc;
  height:  44px;
  width: 32px;
  text-align: center;
  cursor: pointer;
}

.quatity_number {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 44px;
  width: 40px;
  text-align: center;
}
.quatity-buy{
  display: flex;
  justify-content: space-around;
}

/* .change_quatity_pre {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.change_quatity_add {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
} */
.product-details .pd-color .pd-color-choose .cc-item label.active{
  border: 2px solid #000;
}
li {
  list-style: none;
}

.filter-widget a:hover {
  /* color: rgb(51, 38, 38); */
  opacity: 0.6;
}
.product-show-option .select-option-filter{
  display: flex;
}
.filter-widget a {
  cursor: pointer;
  color: black;
}

.sort-filter {
  padding-right: 70px;
  margin-right: 20px;
  border-radius: 0;
  border: 1px solid #ECEDEE;
  height: 40px;
  line-height: 35px;
}

.btn-filter {
  background-color: #e7ab3c;
  border: 1px solid #e7ab3c;
  color: #000;
}

.btn-filter:hover {
  /* background-color: rgb(169, 171, 209); */
  opacity: 0.8;
  border: 1px solid #e7ab3c;
}

.show-number-product {
  margin-left: 20px;
}

.filter-by {
  margin: 20px auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  /* max-width: 160px; */
  width: auto;
  position: relative;
  /* text-align: center; */
  /* border: 1px; */
}

.filter div {
  border: 1px solid #ccc;
}

.filter-by p {
  /* display: block; */
  margin: 4px;
}

.filter-by i {
  /* display: block; */
  margin: 4px 8px 4px 4px;
}
.page-active{
  color: #e7ab3c;
}
.filter-widget .filter-active a{
  color: #e7ab3c;
}
.filter-widget a.filter-active{
  color: #e7ab3c;
}
.filter-widget .filter-active label{
  color: #e7ab3c;
}
/* .filter-by::after{
  content: "\f00d";
} */
.filter-widget .fw-color-choose .cs-item label:before{
  border: 1px solid #ccc;
}
a{
  cursor: pointer;
}
.customer-review-option .comment-option .co-item .avatar-text .at-rating i.fa-star-o,
.specification-table table tr td .pd-rating i.fa-star-o
,.fa-star-o
{
  color: #ccc;
}

.fa-star{
  color: #e7ab3c;
}
