<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <a href="#"><i class="fa fa-home"></i> Home</a>
          <span>Login</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Form Section Begin -->

<!-- Register Section Begin -->
<div class="register-login-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="login-form">
          <h2>Login</h2>
          <form action="" [formGroup]="frmLogin">
            <div class="group-input">
              <label for="username">Username or email address *</label>
              <input type="text" id="username" formControlName="email" />
              <p
                *ngIf="(frmLogin.get('email')?.invalid||frmLogin.get('email')?.errors?.['required'])&& (frmLogin.get('email')?.dirty || frmLogin.get('email')?.touched)"
              >
                Vui lòng không để trống
              </p>
            </div>
            <div class="group-input">
              <label for="pass">Password *</label>
              <input type="password" id="pass" formControlName="password" />
              <p
                *ngIf="(frmLogin.get('password')?.invalid||frmLogin.get('password')?.errors?.['required'])&& (frmLogin.get('password')?.dirty || frmLogin.get('password')?.touched)"
              >
                Vui lòng không để trống
              </p>
            </div>
            <div class="group-input gi-check">
              <div class="gi-more">
                <label for="save-pass">
                  Save Password
                  <input type="checkbox" id="save-pass" />
                  <span class="checkmark"></span>
                </label>
                <a (click)="btnCheckAccount()" class="forget-pass">Forget your Password</a>
              </div>
            </div>
            <button (click)="btnLogin()" type="submit" class="site-btn login-btn">Sign In</button>
          </form>
          <div class="switch-login">
            <a (click)="switchRegister()"  class="or-login">Or Create An Account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Register Form Section End -->
